<!DOCTYPE html>
<html>
  <head>
    <title>Scrapper</title>
    <style>
      #bb{
        background-color:#8df153;
        color:black;
        height:100px;
        width:200px;
        font-size: 28px;
        border-radius:40%;
      }
    
      </style>
  </head>
  <body background= "{{ url_for('static', filename='image/back1.jpg') }}">
    <p style="text-align:center;font-size:78px;font-family:Brush Script MT;color:white">Sharanya,How about checking on what's new in different websites today?</p>
    <div style="text-align:center">
    <button id="bb"><a href="showOnclick">Let's Start Extracting!</a></button>
  </div>
  </body>
  </html>
